*{
    margin:0;
    padding:0;
    box-sizing:border-box;    
    font-size: 24px;
}

.conte
{
    width: 90%;
    background-color: aquamarine;
    margin-left: 50px;
    height:fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.div
{
    height: 250px;
    width:  400px;
    background-color: red;
    margin: 20px;
}