img
{
    max-width:100%;
    margin: 1%;
}

.contenedor
{
    width: 90%;
    background-color:burlywood;
    margin: auto;
}
.div
{
    float: left;
    width: 30%;
    background-color: rgb(66, 66, 165);
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 45px;
    margin: 5px;
}
div.clear
{
    clear: both ;
}
.div_1
{
    height: 500px;
}

.div_6
{
    height: 500px;
}