*{
    margin:0;
    padding:0;
    box-sizing:border-box;    
    font-size: 8px;
    font-size:100%;
}

img
{
    max-width:100%;
    max-height:100%;
    margin: 1%;
}

.contenedor
{
    width: 90%;
    background-color: aquamarine;
    margin: auto;
}
.div
{
    height: 300px;
    width: 400px;
    margin-bottom: 20px;
    background: burlywood;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    float: left;
    padding: 45px;
    margin-left: 5px;
}
.clear
{
    clear: both;
}
.div_1
{
    height: 500px;
}